# Obtain the data from Rdata

## Download data by a bounds of longitude and latitude

Users can give a bounds of longitude and latitude to download the station data.

#### Load the OBSAQ package and Define the range

In [2]:
import obsaq

lon_min = -1
lon_max = 2
lat_min = 50
lat_max = 55
bounds=[lon_min, lon_max, lat_min, lat_max]

#### Get the station metadata

NOTE: This is the all station information and the next step will choose the stations by bounds.

In [3]:
meta = obsaq.meta()
site_table = meta.get_metadata_RData()

site_table.head(5)

,site_id,site_name,location_type,latitude,longitude,parameter,Parameter_name,start_date,end_date,ratified_to,zone,agglomeration,local_authority
0,ABD,Aberdeen,Urban Background,57.15736,-2.094278,O3,Ozone,2003-08-01,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
1,ABD,Aberdeen,Urban Background,57.15736,-2.094278,NO,Nitric oxide,1999-09-18,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
2,ABD,Aberdeen,Urban Background,57.15736,-2.094278,NO2,Nitrogen dioxide,1999-09-18,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
3,ABD,Aberdeen,Urban Background,57.15736,-2.094278,NOXasNO2,Nitrogen oxides as nitrogen dioxide,1999-09-18,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
4,ABD,Aberdeen,Urban Background,57.15736,-2.094278,SO2,Sulphur dioxide,2001-01-01,2007-09-30,2007-09-30,North East Scotland,NaN,Aberdeen City

#### Choose the stations by range

In [4]:
final_sites = meta.get_site(bounds=bounds)
final_sites.head(5)

Site is selected by bounds: [-1, 2, 50, 55]

,site_id,site_name,location_type,latitude,longitude,parameter,Parameter_name,start_date,end_date,ratified_to,zone,agglomeration,local_authority
93,AYLA,Aylesbury A4157,Urban Traffic,51.822161,-0.793884,PM2.5,PM2.5 particulate matter (Hourly measured),2025-08-11,ongoing,2025-09-30,South East,NaN,Aylesbury Vale
94,AYLA,Aylesbury A4157,Urban Traffic,51.822161,-0.793884,wd,Modelled Wind Direction,2025-08-11,ongoing,Never,South East,NaN,Aylesbury Vale
95,AYLA,Aylesbury A4157,Urban Traffic,51.822161,-0.793884,ws,Modelled Wind Speed,2025-08-11,ongoing,Never,South East,NaN,Aylesbury Vale
96,AYLA,Aylesbury A4157,Urban Traffic,51.822161,-0.793884,temp,Modelled Temperature,2025-08-11,ongoing,Never,South East,NaN,Aylesbury Vale
386,BDMP,Borehamwood Meadow Park,Urban Background,51.661229,-0.270550,NO,Nitric oxide,2017-10-01,ongoing,2025-09-30,Eastern,NaN,Hertsmere

#### Start to download the selected station data

- `year`: the year of data to be downloaded. Defaults to 2010.
- `output_dir`: the directory to save the downloaded data. Defaults to `metadata/prep_obs_data`.
- `log`: whether to print the log. Defaults to `False`.

In [5]:
meta.download_sites('RData', year=2010, output_dir='metadata/prep_obs_data', log=False)

     site_id                          site_name        location_type  \
93      AYLA                    Aylesbury A4157        Urban Traffic
94      AYLA                    Aylesbury A4157        Urban Traffic
95      AYLA                    Aylesbury A4157        Urban Traffic
96      AYLA                    Aylesbury A4157        Urban Traffic
386     BDMP            Borehamwood Meadow Park     Urban Background
...      ...                                ...                  ...
6343  AIY005  Wycombe Millbrook School (sensor)  Suburban Background
6344  AIY005  Wycombe Millbrook School (sensor)  Suburban Background
6345    WSTO               Wycombe Stokenchurch     Urban Background
6346    WSTO               Wycombe Stokenchurch     Urban Background
6347    WSTO               Wycombe Stokenchurch     Urban Background

       latitude  longitude parameter  \
93    51.822161  -0.793884     PM2.5
94    51.822161  -0.793884        wd
95    51.822161  -0.793884        ws
96    51.822161  -0.793884      temp
386   51.661229  -0.270550        NO
...         ...        ...       ...
6343  51.637300  -0.780102      PM10
6344  51.637300  -0.780102     PM2.5
6345  51.652503  -0.894158        NO
6346  51.652503  -0.894158       NO2
6347  51.652503  -0.894158  NOXasNO2

                                  Parameter_name  start_date    end_date  \
93    PM2.5 particulate matter (Hourly measured)  2025-08-11     ongoing
94                       Modelled Wind Direction  2025-08-11     ongoing
95                           Modelled Wind Speed  2025-08-11     ongoing
96                          Modelled Temperature  2025-08-11     ongoing
386                                 Nitric oxide  2017-10-01     ongoing
...                                          ...         ...         ...
6343   PM10 particulate matter (Hourly measured)  2023-06-08  2024-05-16
6344  PM2.5 particulate matter (Hourly measured)  2023-06-08  2024-05-16
6345                                Nitric oxide  2004-01-01  2023-10-12
6346                            Nitrogen dioxide  2004-01-01  2023-10-12
6347         Nitrogen oxides as nitrogen dioxide  2004-01-01  2023-10-12

     ratified_to        zone agglomeration local_authority
93    2025-09-30  South East           NaN  Aylesbury Vale
94         Never  South East           NaN  Aylesbury Vale
95         Never  South East           NaN  Aylesbury Vale
96         Never  South East           NaN  Aylesbury Vale
386   2025-09-30     Eastern           NaN       Hertsmere
...          ...         ...           ...             ...
6343  2024-03-31  South East           NaN         Wycombe
6344  2024-03-31  South East           NaN         Wycombe
6345  2023-10-12  South East           NaN         Wycombe
6346  2023-10-12  South East           NaN         Wycombe
6347  2023-10-12  South East           NaN         Wycombe

[2409 rows x 13 columns]

## Download data by a point of longitude and latitude

Users can give a point of longitude and latitude to download the station data.

### Load the obsaq package and Define the point

In [6]:
import obsaq

lon = 0.0
lat = 55.0
point = [lon, lat]

### Get the station metadata

NOTE: This is the all station information and the next step will choose the stations by point.

In [7]:
meta = obsaq.meta()
site_table = meta.get_metadata_RData()

site_table.head(5)

,site_id,site_name,location_type,latitude,longitude,parameter,Parameter_name,start_date,end_date,ratified_to,zone,agglomeration,local_authority
0,ABD,Aberdeen,Urban Background,57.15736,-2.094278,O3,Ozone,2003-08-01,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
1,ABD,Aberdeen,Urban Background,57.15736,-2.094278,NO,Nitric oxide,1999-09-18,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
2,ABD,Aberdeen,Urban Background,57.15736,-2.094278,NO2,Nitrogen dioxide,1999-09-18,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
3,ABD,Aberdeen,Urban Background,57.15736,-2.094278,NOXasNO2,Nitrogen oxides as nitrogen dioxide,1999-09-18,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
4,ABD,Aberdeen,Urban Background,57.15736,-2.094278,SO2,Sulphur dioxide,2001-01-01,2007-09-30,2007-09-30,North East Scotland,NaN,Aberdeen City

### Choose the stations by point

In [8]:
final_sites = meta.get_site(point=point)
final_sites

Site is selected by point: [0.0, 55.0]

,site_id,site_name,location_type,latitude,longitude,parameter,Parameter_name,start_date,end_date,ratified_to,zone,agglomeration,local_authority
1267,HM,High Muffles,Rural Background,54.334497,-0.80882,O3,Ozone,1987-07-16,ongoing,2025-09-30,Yorkshire & Humberside,NaN,Ryedale

### Start to download the selected station data

In [9]:
meta.download_sites('RData', year=2010, output_dir='metadata/prep_obs_data', log=False)

     site_id     site_name     location_type   latitude  longitude parameter  \
1267      HM  High Muffles  Rural Background  54.334497   -0.80882        O3

     Parameter_name  start_date end_date ratified_to                    zone  \
1267          Ozone  1987-07-16  ongoing  2025-09-30  Yorkshire & Humberside

     agglomeration local_authority
1267           NaN         Ryedale

## Download data by site_id

### Load the obsaq package and check the site information

In [10]:
import obsaq

meta = obsaq.meta()
site_table = meta.get_metadata_RData()

site_table.head(5)

,site_id,site_name,location_type,latitude,longitude,parameter,Parameter_name,start_date,end_date,ratified_to,zone,agglomeration,local_authority
0,ABD,Aberdeen,Urban Background,57.15736,-2.094278,O3,Ozone,2003-08-01,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
1,ABD,Aberdeen,Urban Background,57.15736,-2.094278,NO,Nitric oxide,1999-09-18,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
2,ABD,Aberdeen,Urban Background,57.15736,-2.094278,NO2,Nitrogen dioxide,1999-09-18,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
3,ABD,Aberdeen,Urban Background,57.15736,-2.094278,NOXasNO2,Nitrogen oxides as nitrogen dioxide,1999-09-18,2021-09-20,2021-09-20,North East Scotland,NaN,Aberdeen City
4,ABD,Aberdeen,Urban Background,57.15736,-2.094278,SO2,Sulphur dioxide,2001-01-01,2007-09-30,2007-09-30,North East Scotland,NaN,Aberdeen City

### Choose the stations by site_id

In [11]:
final_sites = meta.get_site(site_id='LH')
final_sites.drop_duplicates(subset='site_id')

Site is selected by site_id: LH

,site_id,site_name,location_type,latitude,longitude,parameter,Parameter_name,start_date,end_date,ratified_to,zone,agglomeration,local_authority
1949,LH,Lullington Heath,Rural Background,50.7937,0.18125,O3,Ozone,1986-10-04,ongoing,2025-09-30,South East,NaN,Wealden

### Start to download the selected station data

In [12]:
meta.download_sites('RData', year=2010, output_dir='metadata/prep_obs_data', log=False)

     site_id         site_name     location_type  latitude  longitude  \
1949      LH  Lullington Heath  Rural Background   50.7937    0.18125
1950      LH  Lullington Heath  Rural Background   50.7937    0.18125
1951      LH  Lullington Heath  Rural Background   50.7937    0.18125
1952      LH  Lullington Heath  Rural Background   50.7937    0.18125
1953      LH  Lullington Heath  Rural Background   50.7937    0.18125
1954      LH  Lullington Heath  Rural Background   50.7937    0.18125
1955      LH  Lullington Heath  Rural Background   50.7937    0.18125
1956      LH  Lullington Heath  Rural Background   50.7937    0.18125
1957      LH  Lullington Heath  Rural Background   50.7937    0.18125
1958      LH  Lullington Heath  Rural Background   50.7937    0.18125

     parameter                              Parameter_name  start_date  \
1949        O3                                       Ozone  1986-10-04
1950        NO                                Nitric oxide  1988-09-29
1951       NO2                            Nitrogen dioxide  1988-09-29
1952  NOXasNO2         Nitrogen oxides as nitrogen dioxide  1988-09-29
1953       SO2                             Sulphur dioxide  1988-03-16
1954      PM10   PM10 particulate matter (Hourly measured)  2022-06-01
1955     PM2.5  PM2.5 particulate matter (Hourly measured)  2022-06-01
1956        wd                     Modelled Wind Direction  2010-08-01
1957        ws                         Modelled Wind Speed  2010-08-01
1958      temp                        Modelled Temperature  2010-08-01

     end_date ratified_to        zone agglomeration local_authority
1949  ongoing  2025-09-30  South East           NaN         Wealden
1950  ongoing  2025-09-30  South East           NaN         Wealden
1951  ongoing  2025-09-30  South East           NaN         Wealden
1952  ongoing  2025-09-30  South East           NaN         Wealden
1953  ongoing  2025-09-30  South East           NaN         Wealden
1954  ongoing  2025-09-30  South East           NaN         Wealden
1955  ongoing  2025-09-30  South East           NaN         Wealden
1956  ongoing       Never  South East           NaN         Wealden
1957  ongoing       Never  South East           NaN         Wealden
1958  ongoing       Never  South East           NaN         Wealden